.Related-doctor .rd {
    text-align: center;
    padding: 40px;
}

.Related-doctor .rd h2 {
    margin-bottom: 10px;
    font-size: 42px;
    color: #2b3942;
    font-weight: 700;
}

.Related-doctor .rd p {
    margin: 0;
    color: #666;
    font-size: 18px;
}

.Related-doctor .fullshowdoctorcont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 80px 40px 40px;
}

.Related-doctor .fullshowdoctorcont .card {
    position: relative;
    width: 220px;
    height: 230px;
    border: 2px solid rgba(128, 128, 128, 0.2);
    box-shadow: 0 10px 10px #ccc;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    overflow: visible;
}


.Related-doctor .fullshowdoctorcont .top {
    position: relative;
    background: #e5fff9;
    border-radius: 10px 10px 0 0;
    overflow: visible;
}

.Related-doctor .fullshowdoctorcont .top img {
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    object-fit: cover;
    object-position: center 20%;
    display: block;
    z-index: 0;
}



.Related-doctor .fullshowdoctorcont .bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    padding: 15px;
    box-sizing: border-box;
    background: white;
    border-radius: 0 0 10px 10px;
    z-index: 0;
}

.Related-doctor.fullshowdoctorcont .bottom p {
    margin: 5px 0;
    color: #2b3942;
    font-size: 16px;
    font-weight: 600;
}



@media (max-width: 1024px) {
    .Related-doctor .fullshowdoctorcont {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .Related-doctor .fullshowdoctorcont .card {
        height: 320px;
    }

    .Related-doctor .fullshowdoctorcont .top {
        height: 235px;
    }
}

@media (max-width: 768px) {
    .Related-doctor .rd h2 {
        font-size: 26px;
    }

    .Related-doctor .fullshowdoctorcont {
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;
        padding: 15px;
    }

    .Related-doctor .fullshowdoctorcont .card {
        height: 310px;
    }

    .Related-doctor .fullshowdoctorcont .top {
        height: 225px;
    }
}

@media (max-width: 425px) {
    .Related-doctor .rd {
        margin: 35px auto 20px;
        padding: 0 15px;
    }

    .Related-doctor .rd h2 {
        font-size: 23px;
    }

    .Related-doctor .rd p {
        font-size: 14px;
    }

    .Related-doctor .fullshowdoctorcont {
        grid-template-columns: 1fr;
        padding: 15px 25px;
    }

    .Related-doctor .fullshowdoctorcont .card {
        width: 100%;
        max-width: 300px;
        height: 330px;
        margin: 0 auto;
    }

    .Related-doctor .fullshowdoctorcont .top {
        height: 245px;
    }
}