.footer {
    background-color: #ffffff;
    color: #000000;
    padding: 100px 20px 20px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #444;
}

.footer-section p,
.footer-section li {
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
    cursor: pointer;
    text-align: left;
    padding-left: 80px;
}

.footer-section li:hover {
    color: #0b791e;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li a {
    text-decoration: none;
    color: #333;
}

.footer-section li a:hover {
    color: #07d638;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #444;
    margin-top: 20px;
    padding-top: 15px;
    font-size: 16px;
    color: #000000;
}

.footer-container > .footer-section:nth-child(1) p,
.footer-container > .footer-section:last-child p {
    cursor: default;
}


/* 1024px */
@media (max-width: 1024px) {

    .footer {
        padding: 80px 30px 20px;
    }

    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 20px;
    }

    .footer-section h3 {
        font-size: 22px;
    }

    .footer-section p,
    .footer-section li {
        font-size: 17px;
        padding-left: 40px;
    }
}


/* 768px */
@media (max-width: 768px) {

    .footer {
        padding: 70px 25px 20px;
    }

    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 35px 15px;
    }

    .footer-section h3 {
        font-size: 21px;
    }

    .footer-section p,
    .footer-section li {
        font-size: 16px;
        padding-left: 20px;
    }

    .footer-bottom {
        font-size: 15px;
    }
}


/* 425px */
@media (max-width: 425px) {

    .footer {
        padding: 60px 25px 20px;
    }

    .footer-container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .footer-section {
        width: 100%;
    }

    .footer-section h3 {
        font-size: 22px;
        text-align: center;
    }

    .footer-section p,
    .footer-section li {
        font-size: 16px;
        padding-left: 0;
        text-align: center;
    }

    .footer-section ul {
        padding: 0;
    }

    .footer-bottom {
        font-size: 14px;
        padding-top: 12px;
    }
}