.hero-section-all-doctors {
    max-width: 100%;
    background-image: url("/images/allDoctors-herosection-image.webp");
    height: 438px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    box-sizing: border-box;
    background-size: 1100px auto;
    justify-content: center;
    position: relative;
}
.hero-section-all-doctors::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
}

.hero-all-doctors-text {
    z-index: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    padding: 60px 60px;    


}

.hero-all-doctors-text h1 {
    font-size: 75px;
    margin: 0 0 20px;
    color: #ffffff;
    font-weight: 700;
    width: 100%;
    line-height: 90px;
}
.hero-all-doctors-text .green-txt{
    color: rgb(107, 192, 107);
    font-size: 52px;
    font-weight: 700;
}
.hero-all-doctors-text p {
    font-size: 24px;
    line-height: 1.6;
    margin: 0;
    color: #ffffff;
    width: 100%;
}

.doctor-list-text h2 {
    padding: 60px 60px 0px;
    font-size: 60px;
    font-weight: 700;
    color: #2b3942;
    margin: 0;
}

.fullshowdoctorcont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px 51px;
    padding: 100px 60px 60px;
    max-width: 100%;
    line-height: 60px;
}

.fullshowdoctorcont .card {
    position: relative;
    width: 220px;
    height: 220px;
    border: 2px solid rgba(128, 128, 128, 0.2);
    box-shadow: 0 10px 10px #ccc;
    border-radius: 10px;
    cursor: pointer;
    overflow: visible;

}


.fullshowdoctorcont .top {
    position: relative;
    background: #e5fff9;
    border-radius: 10px 10px 0 0;
    overflow: visible;
    top: -40px;
    padding-top: 174px;
}

.fullshowdoctorcont .top img {
    position: absolute;
    width: 180px;
    height: 220px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    object-fit: cover;
    object-position: center 20%;
}


.fullshowdoctorcont .bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    box-sizing: border-box;
    background: white;
    border-radius: 0 0 10px 10px;
    z-index: 0;

}
 
.fullshowdoctorcont .bottom h3 {
    margin: 0 !important;
    color: #606162;
    padding-bottom: 5px;
    line-height: 1;
}
.fullshowdoctorcont .bottom p{
    line-height: 1;
    padding: 10px 0 ;
}
/* 1440 */
@media (max-width: 1500px) {
        .hero-section-all-doctors{
        padding-top: 390px;
    }

}
/* 1024px */

@media (max-width: 1024px) {
        .hero-section-all-doctors{
          max-width: 100%;
        }
    .fullshowdoctorcont {
        gap: 3px;
        row-gap: 100px;
        margin-top: 20px;
        padding: 60px 60px;
    }

    .fullshowdoctorcont .card img {
        width: 180px;
        height: 220px;
        object-fit: cover;
        object-position: center 20%;
        transform: translateX(-50%);
    }

    .hero-all-doctors-text h1 {
        font-size: 60px;
        line-height: 70px;
        width: 80%;
    }

    .hero-all-doctors-text p {
        width: 80%;
    }

    .doctor-list-text h2 {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .hero-section-all-doctors {
        max-height: 280px;
        max-width: 100%;
    }
        .hero-all-doctors-text {
        padding: 60px;
        box-sizing: border-box;
    }

    .hero-all-doctors-text h1 {
        font-size: 48px;
        line-height: 58px;
        width: 100%;
    }

    .hero-all-doctors-text p {
        width: 100%;
        font-size: 17px;
    }

    .doctor-list-text h2 {
        padding: 60px 20px 0;
        font-size: 42px;
    }

    .fullshowdoctorcont {
        /* gap: 25px; */
        display: flex;
        justify-content: center;
        row-gap: 90px;
        padding: 60px 45px;
    }

    .fullshowdoctorcont .card {
        width: 220px;
    }

    .fullshowdoctorcont .card img {
        width: 180px;
        height: 220px;
        object-fit: cover;
        object-position: center 20%;
        transform: translateX(-50%);
    }


}

@media (max-width: 450px) {
    .hero-section-all-doctors {
        padding-top: 380px;
    }
    .hero-all-doctors-text {
        padding: 60px;
        max-width: 100%;
    }

    .hero-all-doctors-text h1 {
        font-size: 36px;
        line-height: 45px;
        width: 100%;
    }

    .hero-all-doctors-text p {
        width: 100%;
        font-size: 15px;
        line-height: 1.5;
    }

    .doctor-list-text h2 {
        padding: 45px 15px 0;
        font-size: 32px;
        text-align: center;
    }

    .fullshowdoctorcont {
        gap: 30px;
  
        row-gap: 80px;
        padding:  55px 60px;
    }

    .fullshowdoctorcont .card {
        width: 80%;
      margin-top: 20px;             
    }

    .fullshowdoctorcont .card img {
        width: 180px;
        height: 220px;
        object-fit: cover;
        object-position: center 20%;
        transform: translateX(-50%);
    }

    
}
@media (max-width: 375px) {
    .hero-section-all-doctors {
        padding-top: 324px;

    } 
    .hero-all-doctors-text {
        padding: 30px;
        max-width: 100%;
    }   
}

@media (max-width: 320px){
    .hero-section-all-doctors {
        padding-top: 347px;
    }
    .hero-all-doctors-text {
        padding: 30px;
        max-width: 100%;
    }
    .doctor-list-text h2{
        padding: 30px;
    }
    .fullshowdoctorcont {
            padding: 30px;
    }
}