body {
    overflow-x: hidden;
}

/* section startred 1 */
.hero-container {
    min-height: fit-content;
    max-width: 100%;
    background-image: url(/images/hero-section-background-image.webp);
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    

}

.hero-text-container {
    width: 50%;
    padding: 90px 0 90px 60px;
    display: flex;
    text-align: left;
    justify-content: flex-end;
    align-items: baseline;
    flex-direction: column;
}

.hero-text-container p {
    color: #455864;
    font: 500 18px sans-serif;

}

.hero-text-container h1 {
    line-height: 70px;
    font-weight: 700;
    color: #2b3942;
    margin: 20px 0px;

}

.hero-text-container #ba {
    border-radius: 40px;
    transition: 0.3s ease;
    margin: 10px 0 0;
    font: 500 16px sans-serif;
    color: #ffffff;
    display: inline-block;
    padding: 12px 20px;

    border-radius: 40px;
    border: 1px solid #05cd9e;
    background-color: #05cd9e;
    cursor: pointer;
    transition: 0.3s ease;
}

.hero-text-container #ba:hover {
    background: rgb(255, 255, 255);
    color: black;
    border: 1px solid #05cd9e;
    transform: scale(1.1);
    padding: 12px 20px;
}

.hero-text-container #ba:active {
    border-radius: 25px;
    border: 2px solid rgb(84, 82, 82);
}

.hero-container .doctor-image {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 50%;
}

.hero-container .doctor-image img {
    width: 100%;
    height: auto;
    position: relative;
    left: 40px;
    display: block;
    object-fit: contain;
}



/* section 1 ended */


/* section2 stated */
.doctors-container-text {
    padding-top: 40px;
    background: #e5fff9;
}

.doctors-container-text h2 {
    font-size: 60px;
    font-weight: 700;
    color: #2b3942;
}

.doctors-container-text p {
    color: #2b3942;
}

.doctors-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background: #e5fff9;
    padding: 30px 60px 60px;
    perspective: 1000px;
    max-width: 100%;
}

.doctors-container .box .text-image-container {
    position: relative;
    width: 310px;
    height: 380px;
    transition: transform 0.6s;
    transform-style: preserve-3d;


}

.doctors-container .box:hover .text-image-container {
    transform: rotateY(180deg);
}

/* front and back */
.doctors-container .card-front,
.doctors-container .card-back {
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
}

.doctors-container .card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* back side */
.doctors-container .card-back {
    transform: rotateY(180deg);
    background: #e5fff9;
    display: flex;
    border: 2px solid rgba(128, 128, 128, 0.4);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
}

.doctors-container .card-back h2 {
    color: #05cd9e;
    margin-bottom: 15px;
}

.doctors-container .card-back p {
    color: #2b3942;
    margin-bottom: 20px;
}

.doctors-container .card-back button {
    padding: 12px 20px;
    border: 1px solid #05cd9e;
    font-size: 16px;
    border-radius: 40px;
    background: #05cd9e;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;

}

.doctors-container .card-back button:hover {
    border: 1px solid #05cd9e;
    color: black;
    background: white;
    transform: scale(1.1);
}

.doctors-container .card-back button:active {
    border: 1px solid #05cd9e;
    background: white;
    color: gray;
}



/* section2 endde */


/* sectino 3 started */
.doctors-list {
    max-width: 100%;
    padding: 60px 0 60px;
}
.section3 .fullshowdoctorcont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 71px;
    padding: 60px 60px;
    max-width: 100%;
    line-height: 60px;
}

.doctors-list .txt1 h1 {
    color: #2b3942;
    font-weight: 700;
    margin: 0;

}

.doctors-list .txt1 p {
    color: #2b3942;
        padding: 40px 0 20px;
}
.section3 .fullshowdoctorcont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px 70px;
    padding: 100px 60px 60px;
    max-width: 100%;
    line-height: 60px;
}

/* more button */
#more-btn {
    width: 200px;
    padding: 13px 18px;
    border-radius: 40px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background: #05cd9e;
    border: 1px solid #05cd9e;
    cursor: pointer;
    transition: 0.3s ease;

}

#more-btn:hover {
    background: white;
    color: black;
    border-radius: 40px;
    border: 1px solid #05cd9e;
    transform: scale(1.1);
}

#more-btn:active {
    background: white;
    color: black;
    border-radius: 50px;
    border: 1px solid #05cd9e;
}

/* section3 eneded */

/* sectino 4 statred */
.section4cont {
    display: flex;
    color: rgb(25, 33, 41);
    background-color: #e5fff9;
    padding: 60px 60px 0;
    height: 460px;
    max-width: 100%;
    box-sizing: border-box;
}

.section4cont .txtandbtn {
    width: 60%;
    text-align: left;
}

.section4cont .txtandbtn h1 {
    color: #05cd9e;
    line-height: 1.1;
    margin-top: 30px;
}

.section4cont .txtandbtn p {
    color: #2b3942;
    width: 100%;
    padding-bottom: 30px;
}

.section4cont .txtandbtn #ca {
    background: #05cd9e;
    color: #ffffff;
    padding: 12px 18px;
    font-size: 16px;
    width: 30%;
    border: 2px solid white;
    border-radius: 40px;
    transition: 0.3s ease;
    cursor: pointer;
    text-align: center;
}

.section4cont .txtandbtn #ca:hover {
    transform: scale(1.1);
    border-radius: 40px;
    color: #000000;
    background: white;
    border: 1px solid #05cd9e;
}

.section4cont .txtandbtn #ca:active {
    transform: scale(1.1);
    border-radius: 40px;
    color: rgb(255, 255, 255);
    border: 1px solid #293230;
}

.section4cont .girl {
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: flex-start;
}

.section4cont .girl img {
    height: 460px;
}



/* responsive */

@media (max-width: 1024px) {

    /* section1 */
    .hero-container {
        max-width: 100%;
    }

    .hero-container .hero-text-container {
        width: 40%;
        max-width: 40%;
        padding: 30px;
        box-sizing: border-box;
    }

    .hero-container .hero-text-container h1 {
        line-height: 1.3;
        margin: 0 !important;
        padding: 20px 0 40px;
    }

    .hero-container .hero-text-container #ba {
        margin: 0 !important;
    }

    .hero-container .doctor-image {
        width: 60%;
        max-width: 60%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        overflow: hidden;
        box-sizing: border-box;
    }

    .hero-container .doctor-image img {
        width: 100%;
        max-width: 100%;
        height: auto;
        position: relative;
        left: 40px;
        display: block;
        object-fit: contain;
    }



    .doctors-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        justify-items: center;
        column-gap: 0px;
        padding: 20px 100px 50px;

    }

    .doctors-container .text-image-container {
        width: 300px;
        height: 300px;

    }

    /* section3 */


    /* section4 */
     .section4cont {
        padding: 50px 45px 0;
        height: 400px;
    }

    .section4cont .txtandbtn {
        width: 60%;
    }

    .section4cont .txtandbtn h1 {
        font-size: 42px;
    }

    .section4cont .txtandbtn p {
        font-size: 16px;
        padding-bottom: 25px;
    }

    .section4cont .txtandbtn #ca {
        width: 35%;
    }

    .section4cont .girl {
        width: 40%;
    }

    .section4cont .girl img {
        height: 400px;
    }
}

/* section 1 */

@media (max-width: 768px) {

    .hero-container {
        width: 100%;
        height: auto;
        min-height: 90vh;
        flex-direction: column;
        overflow: hidden;
    }

    .hero-container .hero-text-container {
        width: 100%;
        max-width: 100%;
        padding: 70px 45px 0;
        box-sizing: border-box;
    }

    .hero-container .hero-text-container h1 {
        width: 100%;
        max-width: 600px;
        font-size: 40px;
        line-height: 1.25;
    }

    .hero-container .hero-text-container p {
        width: 100%;
        max-width: 300px;
        font-size: 16px;
        margin: 0;
    }

    .hero-container .doctor-image {
        width: 100%;
        max-width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        overflow: hidden;
        box-sizing: border-box;
    }

    .hero-container .doctor-image img {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        display: block;
        object-fit: contain;
    }

    /* section 2 */
    .doctors-container-text {
        padding: 45px 45px 0;
        text-align: center;
    }

    .doctors-container-text h2 {
        font-size: 36px;
    }

    .doctors-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px 45px 45px;
        row-gap: 10px;
    }

    .doctors-container .box {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;

    }

    .doctors-container .text-image-container {
        max-width: 320px;
        height: 264px;
    }

    /* section 3 */
    .doctors-list{
        padding: 45px;
    }
    .doctors-list .fullshowdoctorcont{
        padding:  40px 0;
        display: flex;
        height: fit-content;

    }


    /* section 4 */
    .section4cont {
        flex-direction: column;
        height: auto;
        padding: 45px 45px 0;
        text-align: center;
        gap: 30px;
    }

    .section4cont .txtandbtn {
        width: 100%;
        text-align: center;
    }

    .section4cont .txtandbtn h1 {
        font-size: 32px;
        margin: 0;
        padding-bottom: 20px;
    }

    .section4cont .txtandbtn p {
        width: 100%;
    }

    .section4cont .txtandbtn #ca {
        width: fit-content;
    }

     .section4cont {
        padding: 45px 45px 0;
        height: fit-content;

    }

    .section4cont .txtandbtn {
        width: 100%;
    }

    .section4cont .txtandbtn h1 {
        font-size: 34px;
        margin-top: 20px;
    }

    .section4cont .txtandbtn p {
        font-size: 15px;
        padding-bottom: 20px;
    }

    .section4cont .txtandbtn #ca {
        width: 40%;
        padding: 10px 15px;
    }

    .section4cont .girl {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .section4cont .girl img {
        height: 360px;
    }
}



@media (max-width: 450px) {

    /* section 1 */
    .hero-container {
        padding-top: 60px;
        height: auto;
        min-height: 80vh;
        flex-direction: column;
    }

    .hero-text-container {
        width: 100%;
        padding: 60px 30px 0px;
        box-sizing: border-box;
    }

    .hero-container .hero-text-container h1 {
        font-size: 24px;
        line-height: 25px;
        letter-spacing: 0.3px;
    }

    .hero-text-container p {
        margin-top: 25px;
        font-size: 16px;
    }

    .hero-container .doctor-image {
        width: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        box-sizing: border-box;
    }

    .hero-container .doctor-image img {
        width: 100%;
        max-width: 100%;
        height: auto;
        position: relative;
        left: 15px;
        display: block;
        object-fit: contain;
    }

    /* section 2 */
    .doctors-container-text {
        padding: 60px 50px 0;
        text-align: center;
    }

    .doctors-container-text h2 {
        font-size: 24px;
    }

    .doctors-container {
        display: grid !important;
        grid-template-columns: 1fr !important;
        gap: 30px;
        padding: 0 20px 60px;
        row-gap: 10px;
    }

    .doctors-container .box {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .doctors-container .text-image-container {
        width: min(350px, 100%);
        height: 264px;
    }

    /* section 3 */

    .section3 .txt1 h1 {
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section3 .txt1 p{
        padding: 10px 0;
        font-size: 14px;
    }

    /* section 4 */

     .section4cont {
        padding: 35px 30px 0;
        height: fit-content;

    }

    .section4cont .txtandbtn {
        width: 100%;
    }

    .section4cont .txtandbtn h1 {
        font-size: 26px;
        margin-top: 15px;
    }

    .section4cont .txtandbtn p {
        font-size: 14px;
        padding-bottom: 15px;
    }

    .section4cont .txtandbtn #ca {
        width: 200px;
        padding: 9px 12px;
        font-size: 14px;
    }

    .section4cont .girl {
        width: 100%;
        display: flex;
        justify-content: center;        
    }

    .section4cont .girl img {
        height: 300px;
    }
}
@media (max-width: 376px) {
    .hero-container .hero-text-container{
        padding: 70px 25px 0;

    }
    .hero-container .doctor-image{
        display: flex;
        justify-content: center;
    }
    .doctors-list .txt1 h1{
        line-height: 35px;
    }
    .section3{
        padding-top: 30px;
    }
    .section4cont {
        padding: 30px 25px 0;
        height: fit-content;
    }

    .section4cont .txtandbtn {
        width: 100%;
    }

    .section4cont .txtandbtn h1 {
        font-size: 23px;
        margin-top: 10px;
    }

    .section4cont .txtandbtn p {
        font-size: 13px;
        padding-bottom: 12px;
    }

    .section4cont .txtandbtn #ca {
        width: 200px;
        padding: 8px 10px;
        font-size: 13px;
    }

    .section4cont .girl {
        width: 100%;
    }

    .section4cont .girl img {
        height: 270px;
    }
}

@media (max-width: 320px){
    .doctors-container .box{
        width: 280px;  
    }
    .doctors-list .txt1{
        width: 100%;
    }
    .doctors-list .txt1 h1{
        line-height: 40px;

    }
    .section3{
        padding-top: 50px;
    }
.section4cont {
        padding: 25px 20px 0;
        height: fit-content;
    }

    .section4cont .txtandbtn {
        width: 100%;
    }

    .section4cont .txtandbtn h1 {
        font-size: 20px;
        margin-top: 8px;
    }

    .section4cont .txtandbtn p {
        font-size: 12px;
        padding-bottom: 10px;
    }

    .section4cont .txtandbtn #ca {
        width: 150px;
        padding: 7px 8px;
        font-size: 12px;
    }

    .section4cont .girl {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .section4cont .girl img {
        height: 240px;
    }
}