.footer {
    background: #13212e;
    color: #ffffff;
    padding: 60px 60px 10px;
    height: fit-content;
}

/* main footer */

.footer-container {
    max-width: 100%;
    margin: auto;
    display: grid;
    /* grid-template-columns: 1.9fr 1fr 1fr 1.2fr; */
    display: flex;
    gap: 50px;
}


/* sections */

.footer-section img {
    height: 140px;
    width: 140px;
    display: flex;
    justify-content: left;
}

.footer-section h3 {
    font-size: 20px;
    margin: 5px 0 20px;
    color: #ffffff;
    text-align: left;
}

.footer-section p {
    font-size: 15px;
    line-height: 1.8;
    color: #b8c4cc;
    margin: 0;
    /* max-width: 80%; */
    text-align: justify;
}

/* links */

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 300px;
}

.footer-section li {
    margin-bottom: 12px;
}

.footer-section li a {
    text-decoration: none;
    color: #b8c4cc;
    font-size: 15px;
    transition: 0.3s ease;
}

.footer-section li a:hover {
    color: #05cd9e;
    padding-left: 5px;
}

/* contact */

.footer-contact p {
    margin-bottom: 15px;
}

.footer-contact span {
    display: block;
    color: #05cd9e;
    font-size: 13px;
    margin-bottom: 2px;
}

/* bottom */

.footer-bottom {
    max-width: 100%;
    margin: 10px auto 0;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer-bottom p {
    margin: 0;
    color: #8f9ba3;
    font-size: 13px;
}

.footer-bottom div {
    display: flex;
    gap: 25px;
}

.footer-bottom a {
    color: #8f9ba3;
    text-decoration: none;
    font-size: 13px;
    transition: 0.3s ease;
}

.footer-bottom a:hover {
    color: #05cd9e;
}


/* 1024px */

@media (max-width: 1024px) {

    .footer {
        padding: 60px 60px 10px;
        height: fit-content;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 45px 30px;
        flex-wrap: wrap;

    }


}


/* 768px */

@media (max-width: 768px) {

    .footer {
        padding: 45px 45px 10px;
    }

    .footer-container {
        display: flex;
        justify-content: center;
    }

    .footer-section h2 {
        font-size: 30px;
    }

    .footer-section h3 {
        font-size: 18px;
    }

    .footer-section ul {
        width: 225px;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

}


/* 425px */

@media (max-width: 450px) {

    .footer {
        padding: 45px 45px 10px;
    }

    .footer-container {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .footer-section {
        text-align: center;
    }

    .footer-section p {
        margin: auto;
    }

    .footer-section ul {
        text-align: center;
    }

    .footer-section li a:hover {
        padding-left: 0;
    }

    .footer-contact p {
        margin-bottom: 12px;
    }

    .footer-bottom {
        margin-top: 35px;
    }

    .footer-bottom div {
        flex-direction: column;
        gap: 10px;
    }

    .footer-section h3 {

        text-align: center;
    }

    .footer-section p {

        text-align: center;
    }

    .footer-section img {
        margin-left: 100px;
    }
}